.m-proifo {
	margin-bottom: 43px;
}

.m-proifo dt {
	float: left;
	width: 188px;
	margin-right: 40px;
}

.m-proifo dt img {
	display: block;
	width: 180px;
	height: 180px;
	padding: 3px;
	background: #fff;
	border: 1px solid #d5d5d5;
}

.m-proifo dt .btm,.m-proifo dt .upload {
	position: absolute;
	left: 4px;
	bottom: 3px;
	display: block;
	width: 180px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
}

.m-proifo dt .upload {
	top: 0;
	left: 0;
}

.m-proifo dt .btm {
	display: none;
	background: #8e8e8e;
	opacity: 0.8;
	filter: Alpha(opacity=80);
}

.m-proifo dt:hover .btm,.m-proifo dt.z-hvr .btm {
	display: block;
}

.m-proifo dd {
	float: left;
	width: 670px;
}

.m-proifo .name {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.m-proifo .name h2 {
	padding-bottom: 3px;
}

.m-proifo .name .tit {
	float: left;
	margin-top: 3px;
	font-size: 22px;
	font-weight: normal;
	line-height: 30px;
}

.m-proifo .name .djp {
	margin-top: 5px;
}

.m-proifo .name .u-icn {
	margin-right: 5px;
}

.m-proifo .name .icn {
	float: left;
	margin: 9px 0 0 8px;
}

.m-proifo .name .edit {
	float: right;
	margin-top: 4px;
}

.m-proifo .name .rect {
	float: right;
	margin-top: 4px;
	margin-right: 20px;
}

.m-proifo .name .btn {
	float: left;
	margin: 4px 0 0 15px;
}

.m-proifo .name .lev {
	float: left;
	margin: 8px 0 0 10px;
}

.m-proifo .name .u-icn-01 {
	margin-top: 9px;
}

.m-proifo .data {
	height: 41px;
	margin-bottom: 15px;
}

.m-proifo .data li {
	float: left;
	padding: 0 40px 0 20px;
	border-left: 1px solid #ddd;
}

.m-proifo .data .fst {
	padding-left: 0;
	border-left: none;
}

.m-proifo .data a {
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
	color: #666;
}

.m-proifo .data a:hover {
	color: #0c73c2;
	text-decoration: none;
}

.m-proifo .data .u-icn-68 {
	position: absolute;
	right: -14px;
	top: -3px;
}

.m-proifo .data strong {
	display: block;
	margin-top: -4px;
	font-size: 24px;
	font-weight: normal;
	cursor: pointer;
}

.m-proifo .data span {
	display: block;
	text-indent: 2px;
	cursor: pointer;
}

.m-proifo .inf {
	margin-bottom: 5px;
	line-height: 21px;
}

.m-proifo .inf .tit {
	float: left;
}

.m-proifo .inf .sep {
	margin-left: 20px;
}

.m-create {
	margin-bottom: 24px;
	border: 1px solid #e5e5e5;
	border-top: none;
}

.m-create .itm {
	height: 50px;
	padding: 10px 0;
	line-height: 50px;
}

.m-create .cvr {
	margin-left: 20px;
}

.m-create .cnt {
	width: 500px;
	padding-right: 38px;
}

.m-create .col-3 {
	width: 216px;
}

.m-create .col-4 {
	width: 44px;
}

.m-create .cnt .opt {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -6px;
}

.m-create .cnt .opt .icn {
	float: right;
	margin-right: 10px;
	text-indent: -9999px;
	cursor: pointer;
}

.m-create .itm:hover .cnt .hshow {
	display: block;
}

.m-create .cnt .hshow {
	display: none;
}

.m-rctten {
	margin-bottom: 36px;
	border: 1px solid #e2e2e2;
	border-width: 0 0 1px 1px;
}

.m-rctten li {
	float: left;
	width: 448px;
	height: 48px;
	overflow: hidden;
	background: #fff;
	border-right: 1px solid #e2e2e2;
	line-height: 48px;
}

.m-rctten li:nth-of-type(4n-1),.m-rctten li.bg {
	background: #f9f9f9;
}

.m-rctten li:nth-of-type(4n) {
	background: #f9f9f9;
}

.m-rctten li.js-dis .stit,.m-rctten li.js-dis .atst {
	color: #bbb;
}

.m-rctten .nb {
	float: left;
	width: 49px;
	text-align: center;
	font-size: 18px;
}

.m-rctten .head {
	float: left;
	margin: 4px 10px 0 0;
}

.m-rctten .stit {
	float: left;
	width: 200px;
}

.m-rctten .atst {
	float: right;
	width: 45px;
	margin-right: 27px;
	text-align: right;
}

.m-rctten .oper {
	float: right;
	display: inline;
	width: 50px;
	margin: 17px 5px 0 0;
}

.m-rctten .oper .icn {
	float: right;
	overflow: hidden;
	margin-left: 10px;
	text-indent: -9999px;
}

.m-cvrlst-profile {
	margin: 20px 0 0 -50px;
}

.m-cvrlst-profile li {
	height: 165px;
	overflow: hidden;
}

.m-fans {
	border-left: 1px solid #d5d5d5;
}

.m-fans li {
	float: left;
	width: 409px;
	height: 80px;
	padding: 20px 20px 0 20px;
	border-right: 1px solid #d5d5d5;
}

.m-fans li.odd {
	width: 408px;
}

.m-fans li.bg {
	background: #fafafa;
}

.m-fans li.last {
	border-bottom: 1px solid #d5d5d5;
}

.m-fans .ava,.m-fans .ava img {
	float: left;
	width: 60px;
	height: 60px;
}

.m-fans .ava .dot {
	position: absolute;
	top: -4px;
	right: -4px;
}

.m-fans li .dot {
	display: none;
}

.m-fans li.z-new .dot {
	display: block;
}

.m-fans .info {
	float: left;
	width: 255px;
	margin-left: 10px;
}

.m-fans .info p {
	margin-bottom: 6px;
}

.m-fans .info .nm {
	display: inline-block;
	*display: inline;
	zoom: 1;
	max-width: 235px;
	vertical-align: middle;
}

.m-fans .info .u-icn {
	*margin-top: -3px;
	_margin-top: -2px;
}

.m-fans .info .u-icn-s-01,.m-fans .info .u-icn-s-02 {
	margin: 1px 0 0 2px;
	margin-top: -2px;
	_margin-top: 0px;
}

.m-fans .info .u-icn2-music2 {
	margin-top: 1px;
}

.m-fans .info .line {
	margin: 0 8px;
	color: #999;
}

.m-fans .oper {
	float: right;
	width: 75px;
	padding-top: 5px;
}

.m-fans .oper p {
	margin-top: 5px;
	text-align: center;
}

.m-record {
	margin-bottom: 36px;
}

.m-record ul {
	border: 1px solid #e2e2e2;
	border-top: none;
}

.m-record-title {
	position: relative;
	z-index: 2;
	zoom: 1;
}

.m-record-title h4 {
	float: left;
	display: inline;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 26px;
	font-weight: 400;
	color: #666;
}

.m-record-title .nav {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 5px;
}

.m-record-title .nav span,.m-record-title .nav i {
	float: right;
	margin-left: 8px;
}

.m-record-title .nav span {
	line-height: 26px;
	color: #666;
	cursor: pointer;
}

.m-record-title .nav span:hover {
	color: #333;
}

.m-record-title .nav span.z-sel {
	color: #333;
	font-weight: 700;
}

.m-record-title .nav i {
	width: 1px;
	height: 12px;
	margin-top: 7px;
	background-color: #999;
}

.m-record  li {
	height: 38px;
	line-height: 38px;
	overflow: hidden;
}

.m-record  li:hover {
	background: #eeeeee;
}

.m-record  li.even {
	background-color: #f7f7f7;
}

.m-record  li.even:hover {
	background: #e6e6e6;
}

.m-record  li .hd {
	float: left;
	width: 72px;
	height: 38px;
	overflow: hidden;
}

.m-record  li .hd .num {
	float: left;
	display: inline;
	padding-left: 5px;
	padding-right: 8px;
	width: 37px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
	color: #666;
}

.m-record  li .song {
	float: left;
	position: relative;
	z-index: 1;
	zoom: 1;
	padding-left: 10px;
	width: 480px;
	height: 38px;
	overflow: hidden;
}

.m-record  li .song .tt {
	float: left;
	width: 100%;
}

.m-record  li .song .tt .txt {
	position: relative;
	display: inline-block;
	max-width: 99%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-record  li .song .tt .ar em {
	margin: 0 5px;
}

.m-record  li .tops {
	float: right;
	position: relative;
	z-index: 1;
	zoom: 1;
	width: 319px;
	height: 38px;
	line-height: 38px;
}

.m-record  li .tops span.bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 38px;
	background-color: #4eb4f5;
	opacity: 0.1;
	filter: Alpha(opacity=10);
}

.m-record  li .tops span.times {
	position: absolute;
	left: 10px;
	z-index: 1;
	height: 38px;
	line-height: 38px;
	color: #666;
}

.m-record  li:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

.m-record  li {
	*zoom: 1;
}

.m-record li.history {
	text-align: center;
}

.m-record li.history:hover {
	background: #fff;
}

.m-record .nb {
	float: left;
	width: 49px;
	text-align: center;
	font-size: 18px;
}

.m-record .head {
	float: left;
	margin: 4px 10px 0 0;
}

.m-record .stit {
	float: left;
	width: 200px;
}

.m-record .atst {
	float: right;
	width: 45px;
	margin-right: 27px;
	text-align: right;
}

.m-record .oper {
	float: right;
	display: inline;
	width: 50px;
	margin: 17px 5px 0 0;
}

.m-record .oper .icn {
	float: right;
	overflow: hidden;
	margin-left: 10px;
	text-indent: -9999px;
}

.m-record .ply {
	float: right;
	display: inline;
	margin-top: 10px;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background-position: 0 -103px;
}

.m-record .ply:hover {
	background-position: 0 -128px;
}

.m-record .ply-z-slt, .m-record .ply-z-slt:hover {
	background-position: -20px -128px;
}

.m-record .opt {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 11px;
	display: none;
	width: 92px;
	height: 20px;
	overflow: hidden;
}

.m-record  li:hover .opt {
	display: block;
}

.m-record  li:hover .song .ttc {
	margin-right: 90px;
}

.m-record .icn-add {
	float: left;
	margin-top: 2px;
}

.m-record span.icn {
	float: left;
	width: 18px;
	height: 16px;
	margin: 2px 0 0 8px;
	overflow: hidden;
	text-indent: -999px;
	cursor: pointer;
}

.m-record span.icn-fav {
	background-position: 0 -174px;
}

.m-record span.icn-fav:hover {
	background-position: -20px -174px;
}

.m-record span.icn-share {
	background-position: 0 -195px;
}

.m-record span.icn-share:hover {
	background-position: -20px -195px;
}

.m-record span.icn-dl {
	background-position: -81px -174px;
}

.m-record span.icn-dl:hover {
	background-position: -104px -174px;
}

.m-record .more {
	height: 32px;
	line-height: 32px;
	text-align: right;
}

.m-record .more a {
	color: #666;
}

.m-record .recordnone {
	line-height: 30px;
	padding: 160px 0;
	color: #999;
	text-align: center;
	border: solid 1px #e2e2e2;
	border-top: none;
	font-size: 20px;
	color: #333;
}

.m-record .recordnone .u-icn {
	margin-right: 20px;
}

.n-iconpoint {
	position: relative;
	margin-left: 10px;
	left: -1px;
	top: 8px;
	line-height: 18px;
	z-index: 2;
}

.n-iconpoint div.tip {
	position: absolute;
	left: -33px;
	top: 30px;
	display: none;
	;width: 295px;
	font-size: 12px;
	line-height: 20px;
	padding: 8px 19px 7px 19px;
	z-index: 2;
	color: #666;
}

.n-iconpoint:hover div.tip {
	display: block;
}

.n-iconpoint div.tip i.t {
	position: absolute;
	width: 327px;
	height: 16px;
	left: 0;
	top: -16px;
}

.n-iconpoint div.tip i.b {
	position: absolute;
	width: 327px;
	height: 12px;
	left: 0;
	bottom: -12px;
}

.m-topiclist .col {
	color: #666;
}

.m-topiclist .cnt {
	width: 331px;
}

.m-topiclist .col-3 {
	width: 160px;
}

.m-topiclist .col-5 {
	width: 190px;
}

.m-topiclist .col-6 {
	width: 50px;
	color: #999;
	text-align: right;
}