<html>
<head>
    <title>ChangePassword</title>
   
</head>
<body>
    <h1>ChangePassword</h1>
            
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
        {{ uf.old_pwd.errors }}
        {{ uf.old_pwd.label_tag }}
        {{ uf.old_pwd }}
        </div>
        <div class="fieldWrapper">
        {{ uf.new_pwd.errors }}
        {{ uf.new_pwd.label_tag }}
        {{ uf.new_pwd }}
        </div>

        <div class="fieldWrapper">
        {{ uf.new_pwd2.errors }}
        {{ uf.new_pwd2.label_tag }}
        {{ uf.new_pwd2 }}
        </div>
        
        <input type="submit" value="Enter">
    </form>
</body>