<html>
<head>
    <title>ChangePassword</title>
   
</head>
<body>
    <h1>ChangePassword</h1>
            
    <form action="" method="post">
        <table>
            <div class="fieldWrapper">
            {{ form.old_pwd.errors }}
            {{ form.old_pwd.label_tag }}
            {{ form.old_pwd }}
            </div>
            <div class="fieldWrapper">
            {{ form.new_pwd.errors }}
            {{ form.new_pwd.label_tag }}
            {{ form.new_pwd }}
            </div>

            <div class="fieldWrapper">
            {{ form.new_pwd2.errors }}
            {{ form.new_pwd2.label_tag }}
            {{ form.new_pwd2 }}
            </div>

        </table>
        
        <input type="submit" value="Enter">
    </form>
</body>