<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
</head>
<body>
<h1>注册页面：</h1>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="fieldWrapper">
    {{ uf.email.errors }}
    {{ uf.email.label_tag }}
    {{ uf.email }}
	</div>
	<div class="fieldWrapper">
    {{ uf.name.errors }}
    {{ uf.name.label_tag }}
    {{ uf.name }}
	</div>
	<div class="fieldWrapper">
    {{ uf.password.errors }}
    {{ uf.password.label_tag }}
    {{ uf.password }}
	</div>
	<div class="fieldWrapper">
    {{ uf.password_again.errors }}
    {{ uf.password_again.label_tag }}
    {{ uf.password_again }}
	</div>
	<input type="submit" value="ok" />
</form>
<br>
<a href="/online/login">登陆</a>
</body>
</html>